# Ignorer les fichiers de configuration et variables d'environnement sensibles
.env
/.env.local
/.env.local.php
/.env.test.local
/.env.test.local.php
/.env.dev.local
/.env.dev.local.php

# Ignorer les dossiers de cache et de logs
/var/
/vendor/
/logs/

# Ignorer les fichiers spécifiques aux IDE
/.idea/
/.vscode/
/*.swp

# Ignorer les dépendances node.js
/node_modules/

# Ignorer Composer
/composer.phar
/composer.lock